* {
    text-decoration: none;  
    list-style-type:none;
    font-family: Poppins, 'Courior New', Tahoma, sans-serif;
    align-items: center;
}
header  {
    padding: 10px;
    border-bottom: 02px;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #838285;
    border-style: solid;
}
header .logo img a {
    position: fixed;
    margin: 10px 15px 15px 10px;
    left: 0;
    display:inline;
    height: 75px;
    top: 0;
}
.home-nav-icons {
    position: fixed;
    display:inline;
    right: 0;
    top: 3%;
    height: 10px;

}
.home-nav-icons ul {
    display: flex;
    height: 10px;
}

.home-nav-icons ul li {
    margin: 0 12px;
    text-decoration: none;
    height: 10px;
}
.banner h3{
    background-color: #5011d9;
    text-align: center;
    color: white;
    height: 50px;
    width: 100%;
    margin: auto;
    padding: 70px;
    font-size: xx-large;
    font-weight: lighter
}

body {
    text-align: left;
}
.shipmentdetails {
    padding-left: 100px;
}
.shipmentdetails p {
    font-size: large;
    font-weight: lighter;
}
.shipmentdetails span{
    font-size: 6px;
    font-weight: bold;
}
.items .container td {
    font-size: 12px;
    font-weight: lighter;
    border-bottom: none;
    padding-bottom: 15px;
}
.container span {
    border-radius: 90px;
    border: solid;
    border-color: #838285;
    background-color: white;
    border-width: 0.5px;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
}
.total span {
    border-radius: 40px;
    border: solid;
    border-color: #838285;
    background-color: white;
    border-width: 0.5px;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
}

.total td {
    font-size: 16px;
    font-weight: lighter;
}
table img{
    margin-top: 0;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 3;
    position: relative;
    text-align: center;
    color: white;
}
.total {
    border-top: #6c6c6d;
    border: solid;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 40%;
}
.total table {
    font-size: large;
    display: flex;
    flex-direction: row;
}
.total table img {
    display: flex;
    flex-direction: row-reverse;
}
.form form label{
    font-size: small;
    padding-bottom: 20px;
    margin-bottom: 50px;;
}
.form form input{
    border-radius: 40px;
    border: solid;
    border-width: .5px;
    border-color: #979698;
    font-size: xx-small;
}
.form .submit img {
    background-color: #5306ee;
    border-radius: 40px;
    color: white;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin-bottom:10px;
    opacity: .90;
}

footer {
    vertical-align: middle;
    text-align: center;
}
.footer-logo {
    width: 243px;
    height: 243px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
footer .footer-logo img {
    vertical-align: middle;
    text-align: center;
    justify-content: center;
 }

.small-text-light small {
    font-size: x-small;
    color: #6c6c6d;
}

.small-text-dark small {
    font-size: x-small;
    color: #6c6c6d;
}

.small-super-light small {
    font-size: xx-small;
    color: #979698;
}